<table class="w-full text-left table-auto">
  <thead>
    <tr>
      <th class="p-2 text-left">Timestamp</th>
      <th class="p-2 text-left">Threat Level</th>
      <th class="p-2 text-left">Description</th>
    </tr>
  </thead>
  <tbody>
    {% if logs %}
      {% for log in logs %}
        <tr class="border-b border-gray-700">
          <td class="p-2">{{ log.get('timestamp', 'N/A') }}</td>
          <td class="p-2">{{ log.get('threat_level', 'N/A') }}</td>
          <td class="p-2">{{ log.get('description', 'N/A') }}</td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="3" class="p-4 text-center text-gray-400">No logs found</td>
      </tr>
    {% endif %}
  </tbody>
</table>
